*{
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box; 
    
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(208.85deg, rgba(0, 0, 0, 0) -33.83%, #9e2525 49.54%, rgba(214, 197, 197, 0) 132.9%), #BF64E3;
    color: white;
}

body{
    /* background-color: lightsalmon;*/
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
}
img{
    margin-bottom: 5vh;
    margin-top: 5vh;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }

h1 {
    font-family: cursive;
    font-style: oblique; 
    font-size: 13vh;
}

h2{
    font-size: 5vh;
}

p, ul{
    font-size: 3vh;
}

#fourth_block img{
    border-radius: 10vh;
}

#fifth_block{
    margin-top: 10vh;
    margin-bottom: 15vh;
}